<div ng-include="'partials/navbar.html'"></div>

<div class="jumbotron" ng-hide="currentUser">
  <h1 id = "titleText"> Welcome to FloppyPaddlePingPong <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img id = "homeIcon" src="images/floppyp.png"><br>
    Please signup/login to enter the tournament.
  </p>
  <div class = "inlineButtons">
    <a class="btn btn-lg btn-success" ng-href="/login">Login Here!</a>
    <a class="btn btn-lg btn-success" ng-href="/signup">Signup Here!</a>
  </div>
</div>

<div class="row marketing" ng-show="currentUser">
  <h1>{{currentUser.name}}</h1>
  <h2> Current Tournament Rankings </h2>
  <div ng-repeat="user in awesomeUsers | orderBy: '-gamesPlayed'">
      <h4>{{user.name}}</h4>
      <p>Number of games played: {{user.gamesPlayed}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ Mike Young</p>
</div>
