<div ng-include="'partials/navbar.html'"></div>

<div class="jumbotron" ng-hide="currentUser">
  <h1 id = "titleText"> Welcome to FloppyPaddlePingPong <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img id = "homeIcon" src="images/floppyp.png"><br>
    Please signup/login to enter the tournament.
  </p>
  <div class = "inlineButtons">
    <a class="btn btn-lg btn-success" ng-href="/login">Login Here!</a>
    <a class="btn btn-lg btn-success" ng-href="/signup">Signup Here!</a>
  </div>
</div>

<div class="row marketing" ng-show="currentUser">
  <h2> Current Tournament Rankings </h2>
  <div ng-repeat="user in awesomeUsers | orderBy: 'rank'">
      <a href = '/challenge/{{user.name}}'>
        <button id="challengebtn" ng-hide= "user.name==currentUser.name" class="btn btn-success btn-sm inlineButtons" type="button"> Challenge </button>
      </a>
      <h4 ng-class="{active: user.name==currentUser.name}">{{user.name}}</h4>
      <p>Number of games played: {{user.wins + user.losses}}</p>
      <p>Wins: {{user.wins}} </p>
      <p>Losses: {{user.losses}}</p>
      <p>Win Pct. {{user.wins / (user.wins + user.losses) | number: 3}}</p>
      <p> Rank: {{user.rank}} </p>
      <br>
  </div>
</div>

<div class="footer">
  <p>♥ Mike Young</p>
</div>
